
.userProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.userProfileBox {
    max-width: 400px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.userProfileHeader {
    text-align: center;
}

.userProfileDetails {
    margin-top: 20px;
}

.form-group {
    text-align: center;
}

.alert {
    margin-top: 10px;
}

.button {
    cursor: pointer;
}